In [6]:
import pandas as pd
import numpy as np

In [7]:
url="https://api.github.com/repos/pandas-dev/pandas/issues"
pd.read_json(url)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57594,2151926578,I_kwDOAA0YD86AQ8sy,57594,BUG: df.plot makes a shift to the right if fre...,...,NaT,CONTRIBUTOR,NaN,This bug exists on the latest version of panda...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57593,2151884557,I_kwDOAA0YD86AQycN,57593,DOC: Documentation website says version 2.2 is...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57592,2151869476,I_kwDOAA0YD86AQuwk,57592,BUG: DataFrame([Series with different Categori...,...,NaT,MEMBER,NaN,```python\r\nIn [1]: import pandas as pd\r\n\r...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57591,2151864153,I_kwDOAA0YD86AQtdZ,57591,PERF: groupby.first and groupby.last fallback ...,...,NaT,MEMBER,NaN,#57589 showed groupby.first and groupby.last a...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57590,2151827239,I_kwDOAA0YD86AQkcn,57590,RLS: 2.2.2,...,NaT,MEMBER,NaN,Estimated date: TBD,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57588,2151726399,PR_kwDOAA0YD85nyjku,57588,PERF: Return a RangeIndex from __getitem__ wit...,...,NaT,MEMBER,NaN,Discovered in https://github.com/pandas-dev/pa...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57587,2151370256,I_kwDOAA0YD86AO04Q,57587,"BUG: `df.plot` works differently for `freq=""h""...",...,NaT,CONTRIBUTOR,NaN,This bug has not been reported and exists on t...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57586,2151258399,PR_kwDOAA0YD85nw9CH,57586,DOC-#57585: Add `Use Modin` section on `Scalin...,...,NaT,NONE,NaN,- [x] closes #57585 (Replace xxxx with the Gi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57585,2151246499,I_kwDOAA0YD86AOWqj,57585,DOC: Add `Use Modin` section on `Scaling to la...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57584,2151206395,I_kwDOAA0YD86AOM37,57584,ENH: pd.series.sample when n > len,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57580,2150519906,PR_kwDOAA0YD85nuaMc,57580,DOC: fixing GL08 errors for pandas.IntervalInd...,...,NaT,NONE,NaN,All GL08 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57578,2150305047,I_kwDOAA0YD86AKw0X,57578,CI: Docstring validation is slow,...,NaT,MEMBER,NaN,"It takes around 22 minutes, for some reason.",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57572,2149909615,I_kwDOAA0YD86AJQRv,57572,ENH: Add Rich formatting support to Pandas obj...,...,NaT,NONE,NaN,### Feature Type\n\n- [x] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57571,2149879436,PR_kwDOAA0YD85nsN_4,57571,TST: Clean contexts,...,NaT,MEMBER,NaN,* Replaced only use of `use_numexpr`\r\n* Crea...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57569,2149666555,I_kwDOAA0YD86AIU77,57569,BUG: still getting UnicodeDecodeError with enc...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57566,2148986823,I_kwDOAA0YD86AFu_H,57566,why the loss: 8.7021 >= 1 ? why the sparse_cat...,...,NaT,NONE,NaN,Epoch 25/25\r\n104/104 ━━━━━━━━━━━━━━━━━━━━ 73...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57565,2148607295,I_kwDOAA0YD86AESU_,57565,DOC: Series.diff with boolean dtype does not r...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57562,2148318837,PR_kwDOAA0YD85nm2gF,57562,DOC: fixing GL08 errors for pandas.DatetimeInd...,...,NaT,CONTRIBUTOR,NaN,All GL08 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57559,2147879125,PR_kwDOAA0YD85nlXoK,57559,PERF: Improve merge performance,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57553,2147626447,PR_kwDOAA0YD85nkgaZ,57553,API: avoid passing Manager to subclass __init__,...,NaT,MEMBER,NaN,- [x] closes #57032 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57550,2147115718,I_kwDOAA0YD85_-mLG,57550,Split pandas package into pandas and pandas-core,...,NaT,MEMBER,NaN,"Maybe worth a PDEP, but opening as an issue fi...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57549,2146930446,I_kwDOAA0YD85_948O,57549,BUG: .rolling-method is not working properly w...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57548,2146596329,PR_kwDOAA0YD85ng8fK,57548,Fix accidental loss-of-precision for to_dateti...,...,NaT,CONTRIBUTOR,NaN,"In Pandas 1.5.3, the `float(val)` cast was inl...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57547,2146590420,I_kwDOAA0YD85_8l7U,57547,BUG: na_values dict form not working on index ...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57546,2146235942,PR_kwDOAA0YD85nfr1q,57546,"Add missing docstrings for Index.empty, Index....",...,NaT,NONE,NaN,- [ All docstrings tests passed]\r\n,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57545,2145945775,PR_kwDOAA0YD85nesL6,57545,DOC: Improve to_string() docstring to clarify ...,...,NaT,NONE,NaN,## Summary\r\nThe current docstring for `to_st...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57544,2145685790,I_kwDOAA0YD85_5JEe,57544,Potential regression induced by PR #57328,...,NaT,MEMBER,NaN,PR #57328 may have induced a performance regre...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57540,2145330438,PR_kwDOAA0YD85nckhO,57540,ES01 Extended Summaries for Categorical,...,NaT,CONTRIBUTOR,NaN,- [x] xref #57440 \r\n- [x] [Tests added and p...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57539,2145327274,I_kwDOAA0YD85_3xiq,57539,BUG: ADBC Postgres writer incorrectly names th...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57531,2144832975,I_kwDOAA0YD85_143P,57531,BUG: `sort_values` is sorting the index too wh...,...,NaT,NONE,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN

In [8]:
import requests
data = requests.get(url)

In [9]:
data

In [10]:
data.json()

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57594',
  'id': 2151926578,
  'node_id': 'I_kwDOAA0YD86AQ8sy',
  'number': 57594,
  'title': 'BUG: df.plot makes a shift to the right if frequency multiplies to n > 1',
  'user': {'login': 'natmokval',
   'id': 91160475,
   'node_id': 'MDQ6VXNlcjkxMTYwNDc1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/91160475?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/natmokval',
   'html_url': 'https://github.com/natmokval',
   'followers_url': 'https://api.github.com/users/natmokval/followers',
   'following_url': 'https://api.github.com/users/natmokval/following{/other_user}',
   'gists_url': 'https://api.github.com/users/natmokval/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/natmokval/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/natmokval/subscriptions',
   'organizations_url': 'https://api.github.com/users/natmokval/orgs',
   'repos_url': 'https://api.github.com/users/natmokval/repos',
   'events_url': 'https://api.github.com/users/natmokval/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/natmokval/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 2413328,
    'node_id': 'MDU6TGFiZWwyNDEzMzI4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Visualization',
    'name': 'Visualization',
    'color': '8AE234',
    'default': False,
    'description': 'plotting'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-23T22:58:54Z',
  'updated_at': '2024-02-24T00:41:16Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': 'This bug exists on the latest version of pandas and might be related to the bug reported in #51425.\r\n\r\n`df.plot` DataFrame with `PeriodIndex` works well for frequency with `n=1`, while  fоr frequency that multiplies on `n>1` we have a shift to the right.\r\n\r\n\r\n**Reproducible Examples:**\r\n\r\nif freq="7h"\r\n```\r\nfrom pandas import *\r\nimport numpy as np\r\n\r\nidx = period_range("01/01/2000", freq=\'7h\', periods=4)\r\ndf = DataFrame(\r\n    np.array([0, 1, 0, 1]),\r\n    index=idx,\r\n    columns=["A"],\r\n)\r\ndf.plot()\r\nprint(df)\r\n```\r\nthe plotting starts from 06:00\r\n\r\n<img width="552" alt="res_7h" src="https://github.com/pandas-dev/pandas/assets/91160475/d09c229b-d665-4602-aaec-18f8bc9a6fab">\r\n\r\n\r\nif freq="2h"\r\n```\r\nidx = period_range("01/01/2000", freq=\'2h\', periods=4)\r\ndf = DataFrame(\r\n    np.array([0, 1, 0, 1]),\r\n    index=idx,\r\n    columns=["A"],\r\n)\r\ndf.plot()\r\nprint(df)\r\n```\r\n\r\nwe have a shift on +1 hour\r\n\r\n<img width="573" alt="res_2h" src="https://github.com/pandas-dev/pandas/assets/91160475/11dc9fe2-2c3c-42f4-989e-cc0e1ed053b3">\r\n\r\n\r\nBut if freq="h"\r\n```\r\nidx = period_range("01/01/2000", freq=\'h\', periods=4)\r\ndf = DataFrame(\r\n    np.array([0, 1, 0, 1]),\r\n    index=idx,\r\n    columns=["A"],\r\n)\r\ndf.plot()\r\nprint(df)\r\n```\r\n\r\nthe result looks okay:\r\n\r\n<img width="560" alt="res_h" src="https://github.com/pandas-dev/pandas/assets/91160475/12b9b607-74c3-4e26-a79a-b965a22ff4b8">\r\n\r\n\r\n**Expected Behavior:**\r\n\r\nI think for both `freq="7h"` and `freq="2h"` we should start plotting from the point `(00:00, 0.0)` as we do for `freq="h"` \r\n\r\nIn case DataFrame with `DatetimeIndex` plotting works correct, e.g.\r\n```\r\nidx = date_range("01/01/2000", freq=\'7h\', periods=4)\r\ndf = DataFrame(\r\n    np.array([0, 1, 0, 1]),\r\n    index=idx,\r\n    columns=["A"],\r\n)\r\ndf.plot()\r\nprint(df)\r\n```\r\n\r\noutput:\r\n<img width="550" alt="res_7h_dr" src="https://github.com/pandas-dev/pandas/assets/91160475/8206da68-5462-4584-b3b7-57ac8ad528dc">\r\n\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57593',
  'id': 2151884557,
  'node_id': 'I_kwDOAA0YD86AQycN',
  'number': 57593,
  'title': 'DOC: Documentation website says version 2.2 is unstable',
  'user': {'login': 'billtubbs',
   'id': 7958850,
   'node_id': 'MDQ6VXNlcjc5NTg4NTA=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/7958850?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/billtubbs',
   'html_url': 'https://github.com/billtubbs',
   'followers_url': 'https://api.github.com/users/billtubbs/followers',
   'following_url': 'https://api.github.com/users/billtubbs/following{/other_user}',
   'gists_url': 'https://api.github.com/users/billtubbs/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/billtubbs/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/billtubbs/subscriptions',
   'organizations_url': 'https://api.github.com/users/billtubbs/orgs',
   'repos_url': 'https://api.github.com/users/billtubbs/repos',
   'events_url': 'https://api.github.com/users/billtubbs/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/billtubbs/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-23T22:12:24Z',
  'updated_at': '2024-02-23T22:13:14Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/index.html\n\n### Documentation problem\n\nA large red banner says \'This is documentation for an unstable development version.\'\r\n\r\nBelow that, a small drop-down menu says \'2.2 (stable)\'.\r\n\r\nClicking the \'Switch to Stable Version\' button simply returns to the same page.\r\n\r\n<img width="1422" alt="Screenshot 2024-02-23 at 14 06 23" src="https://github.com/pandas-dev/pandas/assets/7958850/c223ab99-ebea-47a3-99f3-b330c97c5dcf">\r\n \n\n### Suggested fix for documentation\n\nModify the website settings so that version 2.2 is identified to be stable (or have the button redirect users to the 2.1.4 documentation).',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57592',
  'id': 2151869476,
  'node_id': 'I_kwDOAA0YD86AQuwk',
  'number': 57592,
  'title': 'BUG: DataFrame([Series with different CategoricalIndexes]) results in non-Categorical columns',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 78527356,
    'node_id': 'MDU6TGFiZWw3ODUyNzM1Ng==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Categorical',
    'name': 'Categorical',
    'color': 'e11d21',
    'default': False,
    'description': 'Categorical Data Type'},
   {'id': 1049312478,
    'node_id': 'MDU6TGFiZWwxMDQ5MzEyNDc4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/DataFrame',
    'name': 'DataFrame',
    'color': '370f77',
    'default': False,
    'description': 'DataFrame data structure'},
   {'id': 1465286368,
    'node_id': 'MDU6TGFiZWwxNDY1Mjg2MzY4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Constructors',
    'name': 'Constructors',
    'color': 'd4c5f9',
    'default': False,
    'description': 'Series/DataFrame/Index/pd.array Constructors'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-23T21:59:00Z',
  'updated_at': '2024-02-23T21:59:00Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': '```python\r\nIn [1]: import pandas as pd\r\n\r\nIn [4]: s1 = pd.Series([1, 2], index=pd.CategoricalIndex(["a", "b"]))\r\n\r\nIn [5]: s2 = pd.Series([3, 4], index=pd.CategoricalIndex(["a", "c"]))\r\n\r\nIn [6]: pd.DataFrame([s1, s2]).columns\r\nOut[6]: Index([\'a\', \'b\', \'c\'], dtype=\'object\')\r\n```\r\n\r\nI would have expected `CategoricalIndex([\'a\', \'b\', \'c\'])`',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57591',
  'id': 2151864153,
  'node_id': 'I_kwDOAA0YD86AQtdZ',
  'number': 57591,
  'title': 'PERF: groupby.first and groupby.last fallback to apply for EAs',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 233160,
    'node_id': 'MDU6TGFiZWwyMzMxNjA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
    'name': 'Groupby',
    'color': '729FCF',
    'default': False,
    'description': None},
   {'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 849023693,
    'node_id': 'MDU6TGFiZWw4NDkwMjM2OTM=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/ExtensionArray',
    'name': 'ExtensionArray',
    'color': '6138b5',
    'default': False,
    'description': 'Extending pandas with custom dtypes or arrays.'},
   {'id': 2365504383,
    'node_id': 'MDU6TGFiZWwyMzY1NTA0Mzgz',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Reduction%20Operations',
    'name': 'Reduction Operations',
    'color': '547c03',
    'default': False,
    'description': 'sum, mean, min, max, etc.'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-23T21:54:21Z',
  'updated_at': '2024-02-23T21:54:22Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': '#57589 showed groupby.first and groupby.last are falling back to apply for certain EAs. This should not fallback.',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57590',
  'id': 2151827239,
  'node_id': 'I_kwDOAA0YD86AQkcn',
  'number': 57590,
  'title': 'RLS: 2.2.2',
  'user': {'login': 'lithomas1',
   'id': 47963215,
   'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lithomas1',
   'html_url': 'https://github.com/lithomas1',
   'followers_url': 'https://api.github.com/users/lithomas1/followers',
   'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
   'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
   'repos_url': 'https://api.github.com/users/lithomas1/repos',
   'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/117',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/117',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/117/labels',
   'id': 10539704,
   'node_id': 'MI_kwDOAA0YD84AoNK4',
   'number': 117,
   'title': '2.2.2',
   'description': 'on-merge: backport to 2.2.x',
   'creator': {'login': 'lithomas1',
    'id': 47963215,
    'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/lithomas1',
    'html_url': 'https://github.com/lithomas1',
    'followers_url': 'https://api.github.com/users/lithomas1/followers',
    'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
    'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
    'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
    'repos_url': 'https://api.github.com/users/lithomas1/repos',
    'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 38,
   'closed_issues': 1,
   'state': 'open',
   'created_at': '2024-02-10T23:53:00Z',
   'updated_at': '2024-02-23T21:23:58Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-02-23T21:23:58Z',
  'updated_at': '2024-02-23T21:23:58Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': 'Estimated date: TBD',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57588',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57588/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57588/comments',

In [11]:
dfd=data.json()

In [12]:
dfd

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57594',
  'id': 2151926578,
  'node_id': 'I_kwDOAA0YD86AQ8sy',
  'number': 57594,
  'title': 'BUG: df.plot makes a shift to the right if frequency multiplies to n > 1',
  'user': {'login': 'natmokval',
   'id': 91160475,
   'node_id': 'MDQ6VXNlcjkxMTYwNDc1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/91160475?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/natmokval',
   'html_url': 'https://github.com/natmokval',
   'followers_url': 'https://api.github.com/users/natmokval/followers',
   'following_url': 'https://api.github.com/users/natmokval/following{/other_user}',
   'gists_url': 'https://api.github.com/users/natmokval/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/natmokval/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/natmokval/subscriptions',
   'organizations_url': 'https://api.github.com/users/natmokval/orgs',
   'repos_url': 'https://api.github.com/users/natmokval/repos',
   'events_url': 'https://api.github.com/users/natmokval/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/natmokval/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 2413328,
    'node_id': 'MDU6TGFiZWwyNDEzMzI4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Visualization',
    'name': 'Visualization',
    'color': '8AE234',
    'default': False,
    'description': 'plotting'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-23T22:58:54Z',
  'updated_at': '2024-02-24T00:41:16Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': 'This bug exists on the latest version of pandas and might be related to the bug reported in #51425.\r\n\r\n`df.plot` DataFrame with `PeriodIndex` works well for frequency with `n=1`, while  fоr frequency that multiplies on `n>1` we have a shift to the right.\r\n\r\n\r\n**Reproducible Examples:**\r\n\r\nif freq="7h"\r\n```\r\nfrom pandas import *\r\nimport numpy as np\r\n\r\nidx = period_range("01/01/2000", freq=\'7h\', periods=4)\r\ndf = DataFrame(\r\n    np.array([0, 1, 0, 1]),\r\n    index=idx,\r\n    columns=["A"],\r\n)\r\ndf.plot()\r\nprint(df)\r\n```\r\nthe plotting starts from 06:00\r\n\r\n<img width="552" alt="res_7h" src="https://github.com/pandas-dev/pandas/assets/91160475/d09c229b-d665-4602-aaec-18f8bc9a6fab">\r\n\r\n\r\nif freq="2h"\r\n```\r\nidx = period_range("01/01/2000", freq=\'2h\', periods=4)\r\ndf = DataFrame(\r\n    np.array([0, 1, 0, 1]),\r\n    index=idx,\r\n    columns=["A"],\r\n)\r\ndf.plot()\r\nprint(df)\r\n```\r\n\r\nwe have a shift on +1 hour\r\n\r\n<img width="573" alt="res_2h" src="https://github.com/pandas-dev/pandas/assets/91160475/11dc9fe2-2c3c-42f4-989e-cc0e1ed053b3">\r\n\r\n\r\nBut if freq="h"\r\n```\r\nidx = period_range("01/01/2000", freq=\'h\', periods=4)\r\ndf = DataFrame(\r\n    np.array([0, 1, 0, 1]),\r\n    index=idx,\r\n    columns=["A"],\r\n)\r\ndf.plot()\r\nprint(df)\r\n```\r\n\r\nthe result looks okay:\r\n\r\n<img width="560" alt="res_h" src="https://github.com/pandas-dev/pandas/assets/91160475/12b9b607-74c3-4e26-a79a-b965a22ff4b8">\r\n\r\n\r\n**Expected Behavior:**\r\n\r\nI think for both `freq="7h"` and `freq="2h"` we should start plotting from the point `(00:00, 0.0)` as we do for `freq="h"` \r\n\r\nIn case DataFrame with `DatetimeIndex` plotting works correct, e.g.\r\n```\r\nidx = date_range("01/01/2000", freq=\'7h\', periods=4)\r\ndf = DataFrame(\r\n    np.array([0, 1, 0, 1]),\r\n    index=idx,\r\n    columns=["A"],\r\n)\r\ndf.plot()\r\nprint(df)\r\n```\r\n\r\noutput:\r\n<img width="550" alt="res_7h_dr" src="https://github.com/pandas-dev/pandas/assets/91160475/8206da68-5462-4584-b3b7-57ac8ad528dc">\r\n\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57594/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57593',
  'id': 2151884557,
  'node_id': 'I_kwDOAA0YD86AQycN',
  'number': 57593,
  'title': 'DOC: Documentation website says version 2.2 is unstable',
  'user': {'login': 'billtubbs',
   'id': 7958850,
   'node_id': 'MDQ6VXNlcjc5NTg4NTA=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/7958850?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/billtubbs',
   'html_url': 'https://github.com/billtubbs',
   'followers_url': 'https://api.github.com/users/billtubbs/followers',
   'following_url': 'https://api.github.com/users/billtubbs/following{/other_user}',
   'gists_url': 'https://api.github.com/users/billtubbs/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/billtubbs/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/billtubbs/subscriptions',
   'organizations_url': 'https://api.github.com/users/billtubbs/orgs',
   'repos_url': 'https://api.github.com/users/billtubbs/repos',
   'events_url': 'https://api.github.com/users/billtubbs/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/billtubbs/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-23T22:12:24Z',
  'updated_at': '2024-02-23T22:13:14Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/index.html\n\n### Documentation problem\n\nA large red banner says \'This is documentation for an unstable development version.\'\r\n\r\nBelow that, a small drop-down menu says \'2.2 (stable)\'.\r\n\r\nClicking the \'Switch to Stable Version\' button simply returns to the same page.\r\n\r\n<img width="1422" alt="Screenshot 2024-02-23 at 14 06 23" src="https://github.com/pandas-dev/pandas/assets/7958850/c223ab99-ebea-47a3-99f3-b330c97c5dcf">\r\n \n\n### Suggested fix for documentation\n\nModify the website settings so that version 2.2 is identified to be stable (or have the button redirect users to the 2.1.4 documentation).',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57593/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57592',
  'id': 2151869476,
  'node_id': 'I_kwDOAA0YD86AQuwk',
  'number': 57592,
  'title': 'BUG: DataFrame([Series with different CategoricalIndexes]) results in non-Categorical columns',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 78527356,
    'node_id': 'MDU6TGFiZWw3ODUyNzM1Ng==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Categorical',
    'name': 'Categorical',
    'color': 'e11d21',
    'default': False,
    'description': 'Categorical Data Type'},
   {'id': 1049312478,
    'node_id': 'MDU6TGFiZWwxMDQ5MzEyNDc4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/DataFrame',
    'name': 'DataFrame',
    'color': '370f77',
    'default': False,
    'description': 'DataFrame data structure'},
   {'id': 1465286368,
    'node_id': 'MDU6TGFiZWwxNDY1Mjg2MzY4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Constructors',
    'name': 'Constructors',
    'color': 'd4c5f9',
    'default': False,
    'description': 'Series/DataFrame/Index/pd.array Constructors'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-23T21:59:00Z',
  'updated_at': '2024-02-23T21:59:00Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': '```python\r\nIn [1]: import pandas as pd\r\n\r\nIn [4]: s1 = pd.Series([1, 2], index=pd.CategoricalIndex(["a", "b"]))\r\n\r\nIn [5]: s2 = pd.Series([3, 4], index=pd.CategoricalIndex(["a", "c"]))\r\n\r\nIn [6]: pd.DataFrame([s1, s2]).columns\r\nOut[6]: Index([\'a\', \'b\', \'c\'], dtype=\'object\')\r\n```\r\n\r\nI would have expected `CategoricalIndex([\'a\', \'b\', \'c\'])`',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57592/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57591',
  'id': 2151864153,
  'node_id': 'I_kwDOAA0YD86AQtdZ',
  'number': 57591,
  'title': 'PERF: groupby.first and groupby.last fallback to apply for EAs',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 233160,
    'node_id': 'MDU6TGFiZWwyMzMxNjA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
    'name': 'Groupby',
    'color': '729FCF',
    'default': False,
    'description': None},
   {'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 849023693,
    'node_id': 'MDU6TGFiZWw4NDkwMjM2OTM=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/ExtensionArray',
    'name': 'ExtensionArray',
    'color': '6138b5',
    'default': False,
    'description': 'Extending pandas with custom dtypes or arrays.'},
   {'id': 2365504383,
    'node_id': 'MDU6TGFiZWwyMzY1NTA0Mzgz',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Reduction%20Operations',
    'name': 'Reduction Operations',
    'color': '547c03',
    'default': False,
    'description': 'sum, mean, min, max, etc.'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-23T21:54:21Z',
  'updated_at': '2024-02-23T21:54:22Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': '#57589 showed groupby.first and groupby.last are falling back to apply for certain EAs. This should not fallback.',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57591/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57590',
  'id': 2151827239,
  'node_id': 'I_kwDOAA0YD86AQkcn',
  'number': 57590,
  'title': 'RLS: 2.2.2',
  'user': {'login': 'lithomas1',
   'id': 47963215,
   'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lithomas1',
   'html_url': 'https://github.com/lithomas1',
   'followers_url': 'https://api.github.com/users/lithomas1/followers',
   'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
   'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
   'repos_url': 'https://api.github.com/users/lithomas1/repos',
   'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/117',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/117',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/117/labels',
   'id': 10539704,
   'node_id': 'MI_kwDOAA0YD84AoNK4',
   'number': 117,
   'title': '2.2.2',
   'description': 'on-merge: backport to 2.2.x',
   'creator': {'login': 'lithomas1',
    'id': 47963215,
    'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/lithomas1',
    'html_url': 'https://github.com/lithomas1',
    'followers_url': 'https://api.github.com/users/lithomas1/followers',
    'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
    'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
    'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
    'repos_url': 'https://api.github.com/users/lithomas1/repos',
    'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 38,
   'closed_issues': 1,
   'state': 'open',
   'created_at': '2024-02-10T23:53:00Z',
   'updated_at': '2024-02-23T21:23:58Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-02-23T21:23:58Z',
  'updated_at': '2024-02-23T21:23:58Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': 'Estimated date: TBD',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57590/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57588',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57588/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57588/comments',

In [13]:

len(dfd)

30

In [14]:
for i in range(len(dfd)):
    print(dfd[i]['user']['node_id'])

MDQ6VXNlcjkxMTYwNDc1
MDQ6VXNlcjc5NTg4NTA=
MDQ6VXNlcjEwNjQ3MDgy
MDQ6VXNlcjQ1NTYyNDAy
MDQ6VXNlcjQ3OTYzMjE1
MDQ6VXNlcjEwNjQ3MDgy
MDQ6VXNlcjkxMTYwNDc1
MDQ6VXNlcjI2Mzg5NzMy
MDQ6VXNlcjI2Mzg5NzMy
MDQ6VXNlcjIyMDQ1Nzc5
MDQ6VXNlcjYzNTMwMTA3
MDQ6VXNlcjQ3OTYzMjE1
MDQ6VXNlcjMxOTcxNzYy
MDQ6VXNlcjEwNjQ3MDgy
MDQ6VXNlcjE3NjMyMjA1
MDQ6VXNlcjMxMjA3NTAz
MDQ6VXNlcjY3NzgyMzk5
MDQ6VXNlcjM1NjEzNDg3
MDQ6VXNlcjYxOTM0NzQ0
MDQ6VXNlcjgwNzg5Njg=
MDQ6VXNlcjEwMDU4MjQw
U_kgDOCZTiew
MDQ6VXNlcjMwMjQ2OQ==
U_kgDOBePCvA
MDQ6VXNlcjgzMjgzMTk0
U_kgDOBbSnSQ
MDQ6VXNlcjQ1NTYyNDAy
MDQ6VXNlcjgzNzgzMjk2
MDQ6VXNlcjE1MTk0MjQ5
MDQ6VXNlcjExNjY0MjU5

In [15]:
import pandas as pd
df=pd.DataFrame(dfd ,columns =['user','node_id'])

In [16]:
df.to_csv('json_Info.csv')

In [17]:
# soling the dataset

In [18]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [19]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [21]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [23]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [25]:
df.describe() # numerical data

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [26]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [28]:
df.dtypes[df.dtypes =='object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [29]:
df[df.dtypes[df.dtypes =='object'].index]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [30]:
df[df.columns[df.dtypes == 'object']]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [31]:
df[df.dtypes[df.dtypes !='object'].index]

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

In [32]:
df[df.dtypes[df.dtypes =='object'].index].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [33]:
df[df.columns[df.dtypes == 'object']].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [34]:
df.describe(include='object')

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [35]:
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [36]:
df.astype('object').describe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891,891,891,891,714.0,891,891,891,891.00,204,889
unique,891,2,3,891,2,88.0,7,7,681,248.00,147,3
top,1,0,3,"Braund, Mr. Owen Harris",male,24.0,0,0,347082,8.05,B96 B98,S
freq,1,549,491,1,577,30.0,608,678,7,43.00,4,644

In [37]:
#df.numeric.describe()

In [38]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [39]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [40]:
df[1:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [41]:
df[10:100]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [42]:
df[1:10:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [43]:
df[10:100:19]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.0,1,3,W./C. 6608,34.3750,NaN,S

In [44]:
df['new_col']="anajali"

In [45]:
df['new_col']=df['SibSp']+df['Parch']
# df['family'] = df['SibSp'] + df['Parch']

In [46]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [47]:
pd.Categorical(df['Pclass'])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [48]:
pd.Categorical(df['Cabin'])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [49]:
df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [50]:
df['Cabin'].nunique()

147

In [51]:
df['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [52]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [53]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [54]:
# q. how many passger are less than 5 years old
df[df['Age'] < 5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,4
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,2
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,5
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,3
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,5
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,6
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,5
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,5
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,2
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,3
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,2
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,2
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,1
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,6
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,3
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,3
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,2
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,2
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S,4
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C,2
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,7
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S,2
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,2
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,3
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S,1
530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S,2
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S,3
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S,5
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,3
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C,1
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S,2
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,2
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,3
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,1
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,5
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,2
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,2
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,6
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,2

In [55]:
len(df[df['Age'] < 5])

40

In [56]:
# no of passenger > 18
len(df[df ['Age'] > 18])

575

In [57]:
# how manyu passnger are less than 18 years old 
len(df) - len(df[df ['Age'] > 18])

316

In [58]:
len(df[df ['Age'] < 18])

113

In [59]:
len(df[df ['Age'] <= 18])

139

In [60]:
# Q . how many passenger have paid less than avg  fare

df['Fare'].mean()

32.204207968574636

In [61]:
df.describe().mean()

PassengerId    478.044230
Survived       111.733804
Pclass         113.268089
Age            115.596327
SibSp          112.703219
Parch          112.273456
Fare           192.323930
new_col        113.064758
dtype: float64

In [62]:
df[df ['Fare'] < df ['Fare'].mean()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [63]:
df ['Fare'] < df ['Fare']

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [64]:
len(df[df ['Fare'] < df ['Fare'].mean()])

680

In [65]:
len(df[df ['Fare'] > df ['Fare'].mean()])

211

In [66]:
# how many passenger paid 0 fare

df['Fare']==0

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [67]:
df[df ['Fare'] == 0].Name

179                 Leonard, Mr. Lionel
263               Harrison, Mr. William
271        Tornquist, Mr. William Henry
277         Parkes, Mr. Francis "Frank"
302     Johnson, Mr. William Cahoone Jr
413      Cunningham, Mr. Alfred Fleming
466               Campbell, Mr. William
481    Frost, Mr. Anthony Wood "Archie"
597                 Johnson, Mr. Alfred
633       Parr, Mr. William Henry Marsh
674          Watson, Mr. Ennis Hastings
732                Knight, Mr. Robert J
806              Andrews, Mr. Thomas Jr
815                    Fry, Mr. Richard
822     Reuchlin, Jonkheer. John George
Name: Name, dtype: object

In [68]:
# how many passenger are male and female 

len(df[df['Sex']=='male'])

577

In [69]:
len(df[df['Sex']=='female'])

314

In [70]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [71]:
df['Sex'].value_counts(normalize =True)

male      0.647587
female    0.352413
Name: Sex, dtype: float64

In [72]:
# how many passenger o f pclass 

df[df ['Pclass'] == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0

In [73]:
# how many passenger surived

df[df['Survived']== 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0

In [74]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [75]:
df['Survived'].value_counts(normalize =True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [76]:
# how many females paid more than avgs fare

df['Fare'].mean()

32.204207968574636

In [77]:
df[(df['Sex'] == 'female') & (df ['Fare'] > df['Fare'].mean())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,1
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,3
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S,1
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,10
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,2
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,1

In [78]:
# how many passenger male who paid greater than avg fare
# how many male passenge paid more than avg >>> and 
#df[(df['Sex'] == 'male') | (df['Fare'] > df['Fare'].mean())]

df[(df['Sex'] == 'male') | (df ['Fare'] > df['Fare'].mean())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [79]:
np.mean(df['Fare'])

32.204207968574636

In [80]:
df['Fare'].mean()

32.204207968574636

In [81]:
max(df['Fare'])

512.3292

In [82]:
min(df['Fare'])

0.0

In [83]:
# who are the paasenger who paid maximum fare

df[df['Fare']==max (df ['Fare'])]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [84]:
# Q. How many passenger have parch greater than 3
# Q. How many passenger who survived paid the maximum fare
# Q. How many passengers who didnt survived was from class 1
# Q. How many passengers are having children(<5 years old)

In [85]:
#Access df rows #implicit index>internal/integer index and explicit index/named>>define
df[0:100]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S,0
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,0
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C,1
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S,1
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S,1

In [86]:
df.iloc[0:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1

In [87]:
df.loc[0:2] # give the row whose name is 0.1.2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0

In [88]:
# loc will with nanmed aindex ,iloc will go with inbuit index

df.iloc[0:2 , ['Name','Sex','Age']]

IndexError: .iloc requires numeric indexers, got ['Name' 'Sex' 'Age']

In [89]:
df.loc[0:2 , ['Name','Sex','Age']]

                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0

In [90]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [91]:
df.iloc[0:2 ,3:6]

                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0

In [92]:
len(df['Name'][2:12])

10

In [93]:
df['Name'][2:12]

2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
Name: Name, dtype: object

In [94]:
s=pd.Series(list(df['Name'][2:5]),index =['a','b','c'])

In [95]:
s

a                          Heikkinen, Miss. Laina
b    Futrelle, Mrs. Jacques Heath (Lily May Peel)
c                        Allen, Mr. William Henry
dtype: object

In [96]:
s1=pd.Series(list(df['Name'][5:8]))

In [97]:
s1

0                  Moran, Mr. James
1           McCarthy, Mr. Timothy J
2    Palsson, Master. Gosta Leonard
dtype: object

In [98]:
s+s1 # series or dataframe doesn't work with +

a    NaN
b    NaN
c    NaN
0    NaN
1    NaN
2    NaN
dtype: object

In [99]:
s.append(s1)

/tmp/ipykernel_2228/137217768.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s.append(s1)

a                          Heikkinen, Miss. Laina
b    Futrelle, Mrs. Jacques Heath (Lily May Peel)
c                        Allen, Mr. William Henry
0                                Moran, Mr. James
1                         McCarthy, Mr. Timothy J
2                  Palsson, Master. Gosta Leonard
dtype: object

In [100]:
df.drop('PassengerId' ,axis=1, inplace=True) # row o >>axis =0, axis =1 >> columns

In [101]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [102]:
df.drop(1,inplace=True)  # im=nplace is modified data

In [103]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [104]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [105]:
df.set_index('Name' , inplace=True) # time  series data >>  you willl be making data time columns as index

In [106]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S,1
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0
"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0
...,...,...,...,...,...,...,...,...,...,...,...
"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,0
"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,0
"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,0
"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [107]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S,1
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0
"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0
...,...,...,...,...,...,...,...,...,...,...,...
"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,0
"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,0
"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,0
"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [108]:
df.loc['Allen, Mr. William Henry']

Survived         0
Pclass           3
Sex           male
Age           35.0
SibSp            0
Parch            0
Ticket      373450
Fare          8.05
Cabin          NaN
Embarked         S
new_col          0
Name: Allen, Mr. William Henry, dtype: object

In [109]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S,1
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0
"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0

In [110]:
df.reset_index(inplace=True)

In [111]:
df

,Name,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S,1
3,"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,0
4,"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,0
...,...,...,...,...,...,...,...,...,...,...,...,...
885,"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,0
886,"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,0
887,"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3
888,"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,0
889,"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [112]:
d = {"key1":[2,3,4,5],
    "key2":[3,5,6,6],
     "key3":[6,5,5,4]}

In [113]:
d  # dataframe using dictionary

{'key1': [2, 3, 4, 5], 'key2': [3, 5, 6, 6], 'key3': [6, 5, 5, 4]}

In [114]:
pd.DataFrame(d)

   key1  key2  key3
0     2     3     6
1     3     5     5
2     4     6     5
3     5     6     4

In [115]:
# make dataframe using tuple
d = {"key1":(2,3,4,5),
    "key2":(3,5,6,6),
     "key3":(6,5,5,4)}

In [116]:
d

{'key1': (2, 3, 4, 5), 'key2': (3, 5, 6, 6), 'key3': (6, 5, 5, 4)}

In [117]:
pd.DataFrame(d)

   key1  key2  key3
0     2     3     6
1     3     5     5
2     4     6     5
3     5     6     4

In [118]:
df1=pd.read_csv(r"texo.csv")

In [119]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [120]:
df1.shape

(290, 4)

In [121]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   taxonomy_id  290 non-null    object
 1   name         290 non-null    object
 2   parent_id    279 non-null    object
 3   parent_name  279 non-null    object
dtypes: object(4)
memory usage: 9.2+ KB

In [122]:

df1.dtypes

taxonomy_id    object
name           object
parent_id      object
parent_name    object
dtype: object

In [123]:
df1.isnull().sum()

taxonomy_id     0
name            0
parent_id      11
parent_name    11
dtype: int64

In [124]:
df1.describe()

       taxonomy_id          name  parent_id       parent_name
count          290           290        279               279
unique         290           183         60                50
top            101  Nursing Home  106-06-07  Health Education
freq             1             4         11                15

In [125]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [126]:
df1.dropna(axis =1 ) # alway drop row wise

    taxonomy_id                          name
0           101                     Emergency
1        101-01             Disaster Response
2        101-02                Emergency Cash
3     101-02-01             Help Pay for Food
4     101-02-02       Help Pay for Healthcare
..          ...                           ...
285   111-01-07              Workplace Rights
286      111-02                     Mediation
287      111-03                        Notary
288      111-04                Representation
289      111-05  Translation & Interpretation

[290 rows x 2 columns]

In [127]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [128]:
df1[['name']].dropna(axis =1)

                             name
0                       Emergency
1               Disaster Response
2                  Emergency Cash
3               Help Pay for Food
4         Help Pay for Healthcare
..                            ...
285              Workplace Rights
286                     Mediation
287                        Notary
288                Representation
289  Translation & Interpretation

[290 rows x 1 columns]

In [129]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [130]:
df1.fillna("missing_value_here>lalalalalala", inplace = True)

In [131]:
df1

,taxonomy_id,name,parent_id,parent_name
0,101,Emergency,missing_value_here>lalalalalala,missing_value_here>lalalalalala
1,101-01,Disaster Response,101,Emergency
2,101-02,Emergency Cash,101,Emergency
3,101-02-01,Help Pay for Food,101-02,Emergency Cash
4,101-02-02,Help Pay for Healthcare,101-02,Emergency Cash
...,...,...,...,...
285,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
286,111-02,Mediation,111,Legal
287,111-03,Notary,111,Legal
288,111-04,Representation,111,Legal
289,111-05,Translation & Interpretation,111,Legal

In [132]:
#Q what is the average fare paid by people who survived?
#groupby >> https://www.w3resource.com/python-exercises/pandas/groupby/index.php

In [133]:
df.groupby('Survived').mean(numeric_only=True) #for recent pandas version

            Pclass        Age     SibSp     Parch       Fare   new_col
Survived
0         2.531876  30.626179  0.553734  0.329690  22.117887  0.883424
1         1.953079  28.310277  0.472141  0.466276  48.328288  0.938416

In [134]:
df.groupby('Survived').mean()

/tmp/ipykernel_2228/1397368861.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Survived').mean()

            Pclass        Age     SibSp     Parch       Fare   new_col
Survived
0         2.531876  30.626179  0.553734  0.329690  22.117887  0.883424
1         1.953079  28.310277  0.472141  0.466276  48.328288  0.938416

In [135]:
df.groupby('Survived').mean()

/tmp/ipykernel_2228/1397368861.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Survived').mean()

            Pclass        Age     SibSp     Parch       Fare   new_col
Survived
0         2.531876  30.626179  0.553734  0.329690  22.117887  0.883424
1         1.953079  28.310277  0.472141  0.466276  48.328288  0.938416

In [136]:
df.groupby('Survived').min()

/tmp/ipykernel_2228/2003144291.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  df.groupby('Survived').min()

,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,new_col
Survived,,,,,,,,,
0,"Abbing, Mr. Anthony",1,female,1.00,0,0,110413,0.0,0
1,"Abbott, Mrs. Stanton (Rosa Hunt)",1,female,0.42,0,0,110152,0.0,0

In [137]:
df.groupby('Survived').sum()

/tmp/ipykernel_2228/351563020.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Survived').sum()

          Pclass       Age  SibSp  Parch        Fare  new_col
Survived
0           1390  12985.50    304    181  12142.7199      485
1            666   8181.67    161    159  16479.9461      320

In [138]:
df.groupby('Survived').mean(numeric_only=True)

            Pclass        Age     SibSp     Parch       Fare   new_col
Survived
0         2.531876  30.626179  0.553734  0.329690  22.117887  0.883424
1         1.953079  28.310277  0.472141  0.466276  48.328288  0.938416

In [139]:
df.groupby('Survived').describe()

         Pclass                                                 Age  \
          count      mean       std  min  25%  50%  75%  max  count
Survived
0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0  424.0
1         341.0  1.953079  0.863047  1.0  1.0  2.0  3.0  3.0  289.0

                     ...  Fare           new_col                           \
               mean  ...   75%       max   count      mean       std  min
Survived             ...
0         30.626179  ...  26.0  263.0000   549.0  0.883424  1.830669  0.0
1         28.310277  ...  57.0  512.3292   341.0  0.938416  1.187814  0.0


          25%  50%  75%   max
Survived
0         0.0  0.0  1.0  10.0
1         0.0  1.0  2.0   6.0

[2 rows x 48 columns]

In [144]:
#groupby with two columns
#Q. Total people for each sex, pclass

df.groupby(['Sex', 'Pclass'])['Survived'].sum()

Sex     Pclass
female  1         90
        2         70
        3         72
male    1         45
        2         17
        3         47
Name: Survived, dtype: int64

In [ ]:
#To convert the result to dataframe
df.groupby(['Sex', 'Pclass'])['Survived'].sum().to_frame()

In [141]:
df.groupby(['Sex', 'Pclass'])['Survived'].sum().unstack()

Pclass   1   2   3
Sex
female  90  70  72
male    45  17  47

In [142]:
pd.__version__

'1.5.2'

In [143]:
df.dtypes

Name         object
Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
new_col       int64
dtype: object